@import "tailwindcss";

/********************
Typography
********************/

@font-face {
  font-family: "FirsNeue";
  font-style: normal;
  src: url("../fonts/TTFirsNeueVariable.ttf");
}

@font-face {
  font-family: "InterphasesPro";
  font-style: normal;
  src: url("../fonts/TTInterphasesPro.ttf");
}

@theme {
  --font-firs: "FirsNeue", sans-serif;
  --font-interphases: "InterphasesPro", sans-serif;
}
