---
import "../styles/global.css";

const pageTitle = "About";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>marktripney | {pageTitle}</title>
  </head>
  <body>
    <div class="mx-auto md:w-2xl">
      <header>
        <nav>
          <a href="/">Home</a>
          <a href="/about/">About</a>
        </nav>
      </header>
      <main>
        <h1 class="text-amber-600">About me</h1>
        <p>'About' content here...</p>
      </main>
    </div>
  </body>
</html>
