---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About";
---

<BaseLayout pageTitle={pageTitle}>
  <h1 class="font-firs text-6xl font-semibold">About me...</h1>
  <p>'About' content here...</p>
</BaseLayout>
