---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Home";
---

<BaseLayout pageTitle={pageTitle}>
  <h1 class="font-firs text-6xl font-semibold">Hi, I'm Mark.</h1>
  <h2 class="font-firs text-4xl font-medium">
    I write about books and videogames.
  </h2>
  <p>Intro text here...</p>
  <h2>Posts</h2>
  <p>Recent posts here...</p>
  <ul>
    <li><a href="/posts/post-1">Post 1</a></li>
    <li><a href="/posts/post-2">Post 2</a></li>
    <li><a href="/posts/post-3">Post 3</a></li>
  </ul>
</BaseLayout>
