---
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import HeaderNav from "../components/HeaderNav.astro";
const { pageTitle } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>marktripney | {pageTitle}</title>
  </head>
  <body>
    <div class="mx-auto w-9/10 text-lg md:w-2xl">
      <header>
        <HeaderNav />
      </header>
      <main><slot /></main>
      <Footer />
    </div>
  </body>
</html>
